@use "../abstract/mixins" as *;

.share {
  position: relative;
  // size of author avatar picture
  width: 45px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;

  @include respond-to('medium') {
    transform: translateX(13%);
  }

  &__button {
    padding: .6em;
    margin-top: 0.1em;
    border-radius: 50%;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    transform-origin: center;
    z-index: 10;

    &:focus {
      outline: 1px solid var(--clr-p-400);
      outline-offset: 5px;
    }

    .icon--share {
      fill: var(--clr-p-300);
    }


    &.clicked {
      transform: rotateZ(360deg);
      background-color: var(--clr-p-300);

      .icon--share {
        fill: var(--clr-p-100);
      }
    }
  }

  &__social-list-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: var(--body-bottom-padding);
    padding-inline: var(--padding-inline-body);
    // width of article__body, see javascript
    width: var(--article-body-width);
    right: -100vw;
    transition: all 200ms ease-in-out;

    @include respond-to('medium') {
      transform: scale(0.1);
      right: -228%;
      top: 0;
      opacity: 0;
      padding-block: 0.35em;
      width: 248px;
      border-radius: 10px;
    }

    &.active {
      right: calc(-1*var(--padding-inline-body));

      @include respond-to('medium') {
        transform: scale(1);
        transform-origin: center center;
        right: -228%;
        top: -165%;
        opacity: 1;
      }
    }
  }

  &__label {
    letter-spacing: 0.4em;
    margin-right: 2.5em;

    @include respond-to('medium') {
      margin-right: 0;
    }
  }

  &__social-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1em;
    height: var(--author-picture-size);
    margin-left: -1em;
    margin-right: auto;

    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 20px;
      aspect-ratio: 1;
      background-color: var(--clr-p-400);
      transform: translateX(-32%) translateY(122%) rotateZ(45deg);
      display: none;

      @include respond-to('medium') {
        display: block;
      }
    }

    @include respond-to('medium') {
      margin-left: 1em;
      margin-right: 0;
    }

  }

  &__link {
    cursor: pointer;
  }

}